* {
    font-family: 'Oswald', sans-serif;
}

#caja {
    
    background-color: #655CE6;
}

#linea_decorativa {
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

header {
    margin-top: 15px;
    display: flex;
}

#foto {
    margin-left: 1%;
    margin-right: 1%;
;
}

#foto img {
    width: 30%;
}

#personal {
    float: left;
}